fastapi==0.116.1
uvicorn==0.35.0
python-multipart==0.0.20
Pillow==11.3.0
timm==1.0.19
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.10.0+cpu; platform_system == "Linux"
torchvision==0.25.0+cpu; platform_system == "Linux"
torch==2.10.0; platform_system != "Linux"
torchvision==0.25.0; platform_system != "Linux"
